@font-face {
    font-family: 'chinacyr';
    src: url('./chinacyr.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CrashCTT';
    src: url('./CrashCTT.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'diablofont';
    src: url('./diablofont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'efnantyk';
    src: url('./efnantyk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GradC';
    src: url('./GradC.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hohenzollern';
    src: url('./Hohenzollern.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'jollylodgercyrillic';
    src: url('./jollylodgercyrillic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kistycc';
    src: url('./kistycc.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'p22matadorregular';
    src: url('./p22matadorregular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RubensModern';
    src: url('./RubensModern.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SweetMavkaScript';
    src: url('./SweetMavkaScript.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VampireRevisedCyr';
    src: url('./VampireRevisedCyr.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vinquerg';
    src: url('./vinquerg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SacrumViennaCyr';
    src: url('./SacrumViennaCyr.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WiGuru3';
    src: url('./WiGuru3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ustroke';
    src: url('./Ustroke.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AAneon';
    src: url('./AAneon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MostWazted';
    src: url('./MostWazted.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DSArabic';
    src: url('./DSArabic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Runic';
    src: url('./Runic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mrAveAveBB';
    src: url('./mrAveAveBB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Phorssa';
    src: url('./Phorssa.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KashimaRUSbyCop';
    src: url('./KashimaRUSbyCop.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MariageAntD';
    src: url('./MariageAntD.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pollock5CCT';
    src: url('./Pollock5CCT.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}