<div class="radar">
        <div class="sweep">
            <p></p>
        </div>
        <div class="dot" style="top: 20%; left: 30%;">
            <p></p>
        </div>
        <div class="dot" style="top: 70%; left: 60%;">
            <p></p>
        </div>
        <div class="dot" style="top: 20%; left: 60%;">
            <p></p>
        </div>
        <div class="target" style="top: 40%; left: 80%;">
            <p>.</p>
        </div>
        <div class="target" style="top: 10%; left: 80%;">
            <p>.</p>
        </div>
    </div>
    <p></p>