<table class="wod-table">
    <caption>
        <h4><strong>{{localize "journal-wod.tableTitle"}}</strong></h4>
    </caption>
    <thead>
        <tr>
            <th>{{localize "journal-wod.tableHeader1"}}</th>
            <th>{{localize "journal-wod.tableHeader2"}}</th>
            <th>{{localize "journal-wod.tableHeader2"}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>{{localize "journal-wod.tableCell11"}}</p>
            </td>
            <td>
                <p>{{localize "journal-wod.tableCell21"}}</p>
            </td>
            <td>
                <p>{{localize "journal-wod.tableCell31"}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>{{localize "journal-wod.tableCell12"}}</p>
            </td>
            <td>
                <p>{{localize "journal-wod.tableCell22"}}</p>
            </td>
            <td>
                <p>{{localize "journal-wod.tableCell32"}}/p>
            </td>
        </tr>
    </tbody>
</table>